/* desktop views */
@media only screen and (min-width: 60em) {
    .fruits-container {
        grid-template-columns: 2fr 1fr;
      }
    
      
      .fruits-small-container {
        grid-column: 2/3;
        margin: 150px 30px 150px 0;
      }

      .container {
        grid-template-columns: repeat(3, 1fr);
      }

}