/* tablet views */
@media only screen and (min-width: 37.5em) {
  /* HEADER */
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 120px;
      }
      
      .top {
        padding: 10px;
      }
      
      .contact {
        font-family: 'Lora', sans-serif;
        font-size: 14px;
        display: flex;
        padding-left: 0;
      }
      
      .contact p {
        margin: 0;
      }
      
      .contact i {
        margin-right: 15px;
      }
    
      .social-media {
        display: flex;
        align-items: center;
        
      }
      
      .social-media img {
        width: 2rem;
      }
      
      .bottom {
        flex-direction: row;
      }
      
      .logo {
        display: flex;
        align-items: center;
        padding-left: 1em;
      }
      
      .logo img {
        height: 50px;
      }

      nav ul#primary-nav{
        display: flex;
        flex-direction: row;
        list-style: none;
      }

      nav ul li a {
        padding-right: 0;
        margin: 0;
      }

      nav ul li{
        padding-right: 1em;
        margin: 0;
      }

      #hamburger-button {
        display: none;
    }

/* FOOTER */
    .footer-logo {
      display: flex;
      flex-direction: row;
      padding-top: 0;
      padding-left: 1em;
    }

    .footer-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #0A555F;
      color: white;
    }

/* FORM */
form {
  max-width: 600px;
  margin: 0 auto;
}
label {
  display: block;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  box-sizing: border-box;
  min-width: 560px;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  border: 1px solid #ccc;

}

/* MAIN */
.weather-container, #forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero-title {
  padding: 80px 40px 0 80px;
}

.hero-par {
  padding: 0px 40px 0 80px;
}

.hero, .overlay, .fruits-container {
  min-height: 30em;
  background-position: left center;
}

.fruits-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fruits-heading, .fruits-par {
  margin-right: 40px;
}

.fruits-small-container {
  grid-column: 2/3;
  margin: 150px 20px 150px 0;
}

.container {
  grid-template-columns: repeat(2, 1fr);
}

.specialty-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 50px;
}

.specialty-heading {
  margin-left: 30px;
  text-align: left;
  color: #0A555F;
}

.specialty-par {
  margin-left: 30px;
  margin-right: 30px;
}

.display-count {
  border: solid 1px #0A555F;
  border-radius: 15px;
  margin: 50px;
  padding: 20px;
  width: 150px;
  font-size: 1.4em;

}

/* ABOUT */
.containerrr {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.history-image {
  margin-top: 35px;
  width: 100%;
}

.history {
  max-width: 300px;
}

.col1 {
  grid-column: 1/2;
}

.col {
  grid-column: 2/3;
}

.row2 {
  grid-row: 2/3;
}

.row4 {
  grid-row: 4/5;
}

.franchise p {
  max-width: 600px;
  margin: 0 auto 50px;
  padding: 25px;
}

#fform {
  margin: 0 auto 50px;
  max-width: 600px;

}

}