@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@200&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.desktop-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.top-left {
    margin-left: 0;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

.soc-med {
    grid-column: 3/4;
    grid-row: 1/2; 
    margin: auto;
}

.nav-bar {
    grid-column: 2/3;
    grid-row: 2/3;
}

header, footer {
    background-color: #1A1C20;
    color: #F4F4F4;
}

.logo {
    display: block;
    width: 60px;
    padding: 10px;

}

.site-title {
    width: 100px;
    display: flex;
    padding: 0;
    margin-left: 0;
    margin: auto 0;
}

.site-title h1 {
    font-size: 0.8em;
    font-family: 'Lato', sans-serif, 'Montserrat';
    display: flex;
}

nav {
    background-color: #1A1C20;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F4F4F4;
}

nav ul li.active a {
    background-color: #F0A500;
    color: #fff;
}

nav ul li a:hover {
    background-color: #F0A500;
    color: #1A1C20;
}

nav ul {display: none;}
nav ul.open {display: block;}

.facebook-icon, .linkedin-icon {
    width: 1.5em;   
    height: 1.5em;
}

.bottom-header {
    text-align: center;
    padding: 10px;
    color: #F4F4F4;
    background-color: #1A1C20;
    border-top: solid 1px #F0A500;
    font-family: 'Lato', sans-serif, 'Montserrat';
    font-size: 0.8em;
}

button {
    /* margin: .2rem 2vw; */
    background: transparent;
    color: #F0A500;
    border: none;
    font-size: 1.5em;
}

footer {
    display: block;
}

.top-footer {
    display: block;
    border-bottom: solid 1px #F0A500;
}

.address-block {
    font-size: .8em;
    text-align: center;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Lato', sans-serif, 'Montserrat';
}

.contact-info {
    font-size: .8em;
    text-align: center;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: auto;
    font-family: 'Lato', sans-serif, 'Montserrat';
}

.contact-info a {
    color:#F4F4F4;
    text-decoration: none;
}

footer .logo {
    text-align: left;
}

.bottom-footer {
    margin-top: 2em;
    text-align: center;
    padding: 10px 0;
    color: #F4F4F4;
    background-color: #1A1C20;
    font-family: 'Lato', sans-serif, 'Montserrat';
    font-size: 0.8em;
}

.vertical-line {
    display: none;
}

main {
    padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 10px;
}

.event, .weather, .join, .news-release, .spotlight-container {
  background-color: #F4F4F4;
  padding: 10px;
  width: 100%;
}

.hero {
  /*  min-height: 300px; */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  background-color: gray;
  color: black;
  background-image: url("../images/rexburg-temple.webp");
  min-height: 30em;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero-title {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  /*
.hero-image {
    width: 100%;
    z-index: -1;
    margin-top: -3em;
}

.hero-image {
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
*/

.event {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.spotlight-1, .spotlight-2, .spotlight-3 {
    padding: 10px;
    border-bottom: solid 1px gray;
    background-color: #fff;
}

.spotlight-3 {
    display: none;
}

.spotlight-container {
    background-color: #F0A500;
    opacity: .9;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

p, a {
    font-family: "Raleway";
}

.hero-button, .join-button {
    display: inline-block;
    margin-left: 0;
    font-size: 1em;
    font-family: "Raleway";
    padding: 10px;
    background-color: #1A1C20;
    color: #F4F4F4;
    border-radius: 4px;
    text-decoration: none;
  }

.hero-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-right: 0;
}
  
  button:hover,
  button:active,
  button:focus {
    background-color: #F0A500;
    color: #1A1C20;
    cursor: pointer;
  }

  figure {
    margin: 0;
    padding: 0; 
  }

  #weather-icon {
    padding-top: .5em;
  }

  figcaption {
    font-family: "Raleway";
    padding-bottom: 1em;
  }

.discover-main, .join-main {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

picture {
    width: 100%;
}

.discover-image {
    width: 100%;
    filter: blur(0em);
	transition: filter 0.5s;
}

.description {
    padding-bottom: 20px;
    font-family: "Raleway";
}

img[data-src] {
	filter: blur(0.2em);
}

.discover-title {
    text-align: center;
  }

  .overlay {
    visibility: hidden;
  }

/* FOR THE JOIN US PAGE */
.join-title, .thank-you-title, .directory-title {
    text-align: center;
  }

.join-title, label {
    font-family: 'Lato', sans-serif;
    color: #1A1C20;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px #F0A500;
  }
  input[type="submit"] {
    background-color: #F0A500;
    color: #F4F4F4;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #1A1C20;
  }

  /* FOR THANK YOU PAGE */

  /* FOR DIRECTORY PAGE */

.directory-main {
    display: block;
}

.directory-main h2 {
    text-align: center;
}

.company-images {
    height: 75px;
}

.businesses-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    gap: 20px;
}

.businesses-cards section {
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
    background-color: white;
    color: #1A1C20;
    width: 100%;
    border-radius: 5px;
}

.businesses-cards img {
    margin: 10px 0 10px 0;
}

.businesses-cards h3 {
    margin-top: 10px;
}

.businesses-cards p, a {
    margin: 0;
    padding: 5.5px;
}

.businesses-cards a {
    color: #1A1C20;;
}

/* DIRECTORY PAGE --*/

.view-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.view-menu button{
    font-size: 1em;
    padding: 10px;
    margin: 0 10px 0 10px;
    background-color: #F0A500;
    color: #000000;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.list section {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: none;
    background-color: #F4F4F4;
    color: black;
    border-bottom: solid 1px #F0A500;
    border-radius: 0;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}